<section class="container-fluid">
  <div class="mat-elevation-z8 card-group flex-row" *ngIf="ENAppliances">
    <mat-card class="mat-elevation-z6 card m-2" *ngFor="let entry of ENAppliances">
      <mat-card-header>
          <h3 class="fs-3 align-center">{{ entry.name }}</h3>
        </mat-card-header>
      <mat-card-content>
        
        <a routerLink="/eNAppliances/view/{{ entry._id}}">
            <div class="col d-flex flex-row">
                <img  src="{{  entry.ad_images[1] }}" alt="MISoko" class="card-img-top img-thumbnail object-fit-fill rounded mx-auto d-block card-img-top" />
                
            </div>
        </a>
          
        <div class="card-body">
          <p class="card-text article">{{ entry.location }}</p>
         </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card *ngIf="!ENAppliances">
    <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
    <h2>Loading Electricals and Appliances.....</h2>
  </mat-card>
</section>