<section  class="container-fluid">
    <mat-card class="mat-elevation-z6" *ngIf="User">
        <mat-card-header class="centered">
            <mat-card-title class="centered">
                <h2>Update Profile</h2>
            </mat-card-title>
        </mat-card-header>

        <mat-card-subtitle class="mat-raised-z6 bg-whiter pb-4 mb-4">
            <img mat-card-lg-image class="profile-pic" src="{{ User.image }}" alt="Zorille" />
        </mat-card-subtitle>


        <mat-card-content class="mat-raised-z4 pt-4 mt-4">
            <form [formGroup]="updateUserForm" class="mat-elevation-z4 centered form col-lg-4 col-md-12 col-sm-12" enctype="multipart/form-data">
                <mat-form-field appearance="fill" class="p-1 form-control">
                    <mat-label>Email</mat-label>
                    <mat-hint align="end">Valid Email Address</mat-hint>
                    <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
                    <input type="email" email="true" matInput formControlName="email" [ngModel]="User.email">
                </mat-form-field>

                <div class="spacer"></div>

                <mat-form-field appearance="fill" class="p-1 form-control">
                    <mat-label>Name</mat-label>
                    <mat-hint align="end">Your Name</mat-hint>
                    <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
                    <input type="text" matInput formControlName="name" [ngModel]="User.name">
                </mat-form-field>

                <h5>Phone Number</h5>
                <mat-form-field appearance="fill" class="p-1 form-control">
                    <mat-label>Phone Number</mat-label>
                    <mat-icon matPrefix class="material-symbols-outlined">phone</mat-icon>
                    <mat-hint align="end"> Your Phone Number</mat-hint>
                    <input type="text" matInput formControlName="phone" [ngModel]="User.phone">
                </mat-form-field>

                <h3>Set Profile Picture</h3>
                <img src="{{ profileImageURL }}" mat-card-lg-image class="image-fluid d-block" alt="Profile Image To Be Uploaded" />
                <button mat-raised-button class="p-1 form-control">            
                    <mat-icon class="material-symbols-outlined">attachment</mat-icon>
                    <input type="file" id="attachments" (change)="onFileChange($event)" accept="image/*" />
                </button>

                <div class="spacer"></div>
                <button mat-fab extended color="tertiary" data-bs-toggle="modal" data-bs-target="#myCanvaDesignsModal"
          (click)="getCanvaDesigns()">
          <img src="assets/canva/icons8-canva-48.svg" alt="Canva" />
          Upload From  Canva
        </button>

        <button mat-raised-button color="warn" class="text-white" (click)="removeAdImages()">
          <mat-icon class="material-symbols-outlined">delete</mat-icon>
          Remove Images
        </button> 


        <div class="modal fade" id="myCanvaDesignsModal" tabindex="-1" aria-labelledby="myCanvaDesignsModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="cmyCanvaDesignsModalLabel">Canva Designs</h1>
              </div>
              <div class="modal-body">
                <mat-card class="mat-elevation-z6">
                  <mat-card-content>
                    <mat-card-actions *ngIf="!Designs">
                      <h3>Loading Designs</h3>
                      <mat-progress-bar  mode="buffer" color="accent"></mat-progress-bar>
                    </mat-card-actions>  
 
                    <ul class="list-group" *ngIf="Designs" #uploads>
                      <li class="list-group-item d-flex flex-column" *ngFor="let design of Designs">

                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <img id="adImage"
                              class="card-img-top img-thumbnail object-fit-fill rounded mx-auto d-block"
                              src="{{ design.thumbnail.url  }}" *ngIf="Designs" />
                         </div>
                        <button mat-raised-button color="primary" class="text-black"
                          (click)="uploadDesign(design.thumbnail.url )">
                          <mat-icon class="material-symbols-outlined">upload</mat-icon>
                          Upload
                        </button>


                        <button mat-raised-button color="accent" class="text-black"
                          (click)="continueEditingOnCanva(design.urls.edit_url )">
                          <mat-icon class="material-symbols-outlined">edit</mat-icon>
                          Continue Editing On Canva
                        </button>

                          <button mat-raised-button color="warn" class="text-black"
                          (click)="viewOnCanva(design.urls.view_url )">
                          <mat-icon class="material-symbols-outlined">visibility</mat-icon>
                            View From Canva
                          </button>
                      </li>
                      <mat-divider></mat-divider>
                    </ul>

                  </mat-card-content>
                </mat-card>
              </div>
              <div class="modal-footer">
                <a routerLink="/canva">
                  <button mat-fab extended color="primary">
                    Continue With 
                    <img src="assets/canva/icons8-canva-48-1.svg" alt="Canva" />                               
                  </button>
                </a>
                <button mat-icon-button color="warn" data-bs-dismiss="modal">
                  <mat-icon class="material-symbols-outlined">close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>



                <mat-card-actions class="align-buttons-center">
                    <button type="submit" mat-raised-button [disabled]="!updateUserForm.valid" (click)="ngOnSubmit()">
                        <mat-icon class="material-symbols-outlined">update</mat-icon>
                        Update Profile
                    </button>

                    <button type="reset" mat-raised-button color="warn" class="text-white" (click)="resetForm()">
                        <mat-icon class="material-symbols-outlined">cancel</mat-icon>
                        Clear
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</section>







        