<section class="container-fluid">
  <mat-card>
    <mat-card-title>
      <h1>Create New AutoMobile AD</h1>
    </mat-card-title>
    
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="newAutoMobileForm"  (ngSubmit)="onSubmit()" class="mat-elevation-z4 centered form col-lg-6 col-md-10 col-sm-12"
                enctype="application/x-www-form-url-encoded">


        <mat-form-field appearance="fill" class="p-1  form-control">
        <mat-label>AutoMobile Make</mat-label>
          <select matNativeControl formControlName="make">
            <option label="--Select Applicable--"></option>
            <option *ngFor="let entry of AutoMobileMakes" value="entry"> {{ entry.Name }}</option>
          </select>
          <mat-hint align="end">Make Of The AutoMobile</mat-hint>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
        </mat-form-field>



        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>AutoMobile Model </mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Model of the AutoMobile</mat-hint>
          <input type="text" matInput  formControlName = "model" placeholder="AutoMobile Model">
        </mat-form-field>
        

        <mat-form-field>
          <mat-label>Year Of Manufacture</mat-label>
          <input matInput [matDatepicker]="YOMDatePicker" formControlName="yom">
          <mat-hint>Year Of Manufacture As: MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="YOMDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #YOMDatePicker></mat-datepicker>
        </mat-form-field>
        


        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Key Features</mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">AutoMobile Key Features</mat-hint>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="auto"
            cdkAutosizeMaxRows="auto"
            formControlName = "key_features">
          </textarea>
        </mat-form-field>
        


        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>AutoMobile Chassis </mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">AutoMobile Chassis Number If Applicable</mat-hint>
          <input type="text" matInput  formControlName = "chassis" placeholder="AutoMobile Chassis">
        </mat-form-field>
        


        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>AutoMobile Engine </mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Engine Specs i.e 2000CC</mat-hint>
          <input type="text" matInput  formControlName = "engine" placeholder="AutoMobile Engine">
        </mat-form-field>
        

        <div class="p-1 form-control flex-align-items-center">
          <h5>AutoMobile Transmission</h5>
          <mat-radio-group
            aria-labelledby="AutoMobile transmission"
            class="p-1  form-control"
            formControlName="transmission">
            <mat-radio-button color="primary" class=" flex-row" *ngFor="let entry of AutoMobileTransmission" [value]="entry">
             {{ entry }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        



        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>AutoMobile Body Color</mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">AutoMobile Body Color</mat-hint>
          <input type="text" matInput  formControlName = "body_color" placeholder="AutoMobile Body Color">
        </mat-form-field>
        

        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Video Link </mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end"></mat-hint>
          <input type="text" matInput  formControlName = "video_link" placeholder="Video Link">
        </mat-form-field>

        <button mat-raised-button class="p-1">
          <mat-icon class="material-symbols-outlined">attachment</mat-icon>
          <input type="file" id="attachments" (change)="onFileChange($event)" accept="*" multiple />
        </button>


        <button mat-stroked-button color="primary" data-bs-toggle="modal" data-bs-target="#myCanvaDesignsModal"
          (click)="getCanvaDesigns()">
          <mat-icon class="material-symbols-outlined">upload</mat-icon>
          Upload From  Canva
        </button>


        <div class="modal fade" id="myCanvaDesignsModal" tabindex="-1" aria-labelledby="myCanvaDesignsModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="cmyCanvaDesignsModalLabel">Canva Designs</h1>
              </div>
              <div class="modal-body">
                <mat-card class="mat-elevation-z6">
                  <mat-card-content>
                    <mat-card-actions *ngIf="!Designs">
                      <h3>Loading Designs</h3>
                      <mat-progress-bar  mode="buffer" color="accent"></mat-progress-bar>
                    </mat-card-actions>  
 
                    <ul class="list-group" *ngIf="Designs" #uploads>
                      <li class="list-group-item d-flex flex-column" *ngFor="let design of Designs">

                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <img id="adImage"
                              class="card-img-top img-thumbnail object-fit-fill rounded mx-auto d-block"
                              src="{{ design.thumbnail.url  }}" *ngIf="Designs" />
                         </div>
                        <button mat-raised-button color="primary" class="text-black"
                          (click)="uploadDesign(design.thumbnail.url )">
                          <mat-icon class="material-symbols-outlined">upload</mat-icon>
                          Upload
                        </button>


                        <button mat-raised-button color="accent" class="text-black"
                          (click)="continueEditingOnCanva(design.urls.edit_url )">
                          <mat-icon class="material-symbols-outlined">edit</mat-icon>
                          Continue Editing On Canva
                        </button>

                          <button mat-raised-button color="warn" class="text-black"
                          (click)="viewOnCanva(design.urls.view_url )">
                          <mat-icon class="material-symbols-outlined">visibility</mat-icon>
                            View From Canva
                          </button>
                      </li>
                      <mat-divider></mat-divider>
                    </ul>

                  </mat-card-content>
                </mat-card>
              </div>
              <div class="modal-footer">
                <a routerLink="/canva">
                  <button mat-fab extended color="primary">
                    Continue With 
                    <img src="assets/canva/canva_blue.svg" alt="canva" class="img-thumbnail" />                               
                  </button>
                </a>
                <button mat-icon-button color="warn" data-bs-dismiss="modal">
                  <mat-icon class="material-symbols-outlined">close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        


        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Full Description</mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Full AutoMobile  Description</mat-hint>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="auto"
            cdkAutosizeMaxRows="auto"
            formControlName = "description">
          </textarea>
        </mat-form-field>
        




        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Price Amount</mat-label>
          <mat-icon matPrefix  class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Amount </mat-hint>
          <input type="text" matInput  formControlName = "price_amount" placeholder="Price Amount">
        </mat-form-field>
      
        
        
        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Location </mat-label>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Showroom Location / Collection Point</mat-hint>
          <input type="text" matInput formControlName="location" placeholder="Location">
        </mat-form-field>

        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>AD Phone Number </mat-label>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Phone number to use on AD</mat-hint>
          <input type="phone" matInput formControlName="ad_phone_number" placeholder="Phone Number">
        </mat-form-field>

        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>AD Email </mat-label>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Email to use on Ad</mat-hint>
          <input type="email" email="true" matInput formControlName="ad_email" placeholder="Email Address">
        </mat-form-field>



        <mat-card-actions class="align-buttons-center">
          <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!newAutoMobileForm.valid" ><mat-icon class="material-symbols-outlined">save</mat-icon>Submit AD</button>
          <button type="reset" mat-raised-button color="warn" (click)="resetForm()"><mat-icon class="material-symbols-outlined">cancel</mat-icon>Clear</button>
        </mat-card-actions>


      </form>
    </mat-card-content>
  </mat-card>
</section>
