<section class="container-fluid">
  <mat-card class="mat-elevation-z8 card p-2 m-1" *ngIf="ENAppliance" #eNAppliance>
    <div class="d-flex flex-column">
      <div id="ADImagesCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">

          <span class="carousel-item active" data-bs-interval="10000">
            <img src="{{  ENAppliance.ad_images[1] }}" alt="MISoko" class="object-fit-fill rounded mx-auto d-block img-fluid" />
          </span>

          <div class="carousel-item" *ngFor="let entry of ENAppliance.ad_images" data-bs-interval="20000">
            <img src="{{  entry }}" alt="MISoko" class="object-fit-fill rounded mx-auto d-block img-fluid" />
          </div>

        </div>
        <button mat-icon-button class="carousel-control-prev text-accent" color="warn"
          data-bs-target="#ADImagesCarousel" data-bs-slide="prev">
          <mat-icon class="material-symbols-outlined">arrow_back_ios</mat-icon>
        </button>
        <button mat-icon-button class="carousel-control-next text-accent" color="warn"
          data-bs-target="#ADImagesCarousel" data-bs-slide="next">
          <mat-icon class="material-symbols-outlined">arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>

    <div class="card-body">
      <h2 class="card-title">{{ ENAppliance.name }}</h2>
      <p class="card-text">{{ ENAppliance.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h3 class="fs-3 text-accent">{{ ENAppliance.price_amount | currency }}</h3></li>
      <li class="list-group-item"><h5 class="fs-5 text-black">{{ ENAppliance.location }}</h5></li>
    </ul>
    <div class="card-body">

      <a href="phone:{{ ENAppliance.ad_phone_number}}" class="card-link">
        <button mat-raised-button color="primary">
          <mat-icon class="material-symbols-outlined">call</mat-icon>
          {{ ENAppliance.ad_phone_number }}
        </button>
      </a>

      <a href="mailto:{{ ENAppliance.ad_email }}" class="card-link">
        <button mat-raised-button color="primary">
          <mat-icon class="material-symbols-outlined">mail</mat-icon>
          {{ ENAppliance.ad_email }}
        </button>
      </a>
    </div>
  </mat-card>

<section class="container-fluid" *ngIf="ENAppliances">
  <mat-card-title>
    <h2 class="fs-2 text-accent">
      Similar Electrical & Appliances ADs
    </h2>
  </mat-card-title>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="mat-elevation-z8 card-group flex-row" *ngIf="ENAppliances">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="mat-elevation-z6 card m-2" *ngFor="let entry of ENAppliances">
          <mat-card-header>
            <h3 class="fs-3 align-center">{{ entry.name }}</h3>
          </mat-card-header>
          <mat-card-content>

            <a routerLink="/eNAppliances/view/{{ entry._id}}">
              <div class="col d-flex flex-row">
                <img src="{{  entry.ad_images[1] }}" alt="MISoko"
                  class="card-img-top img-thumbnail object-fit-fill rounded mx-auto d-block card-img-top" />

              </div>
            </a>

            <div class="card-footer">
              <p class="card-text article text-accent">{{ entry.price_amount | currency }}</p>
            </div>

            <div class="card-footer">
              <p class="card-text article text-accent">{{ entry.location }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>

  <mat-card *ngIf="!ENAppliance">
    <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
    <h2>Loading Electrical and Appliance.....</h2>
  </mat-card>

</section>