<section class="container-fluid">
    <h2 class="text-primary fs-2">Phones And Accessories</h2>
    <mat-divider></mat-divider>
    
    <div class="mat-elevation-z8 card-group flex-row" *ngIf="PNAccessories">
        <mat-card-header class="card mb-3" *ngFor="let entry of PNAccessories">
            
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="col d-flex flex-row">
                        <a routerLink="/eNAppliances/view/{{ entry._id}}">
                            <img mat-card-lg-image src="{{  entry.ad_images[1] }}" alt="MISoko"
                            class="img-thumbnail object-fit-fill rounded mx-auto d-block card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <mat-card-content>
                        <h3 class="fs-3 align-center text-accent card-title">{{ entry.name }}</h3>
                        <mat-card-footer>
                            <h4 class="fs-4 text-warn">{{ entry.price_amount | currency }}</h4>
                            <p>{{ entry.location }}</p>
                            <a routerLink="/eNAppliances/view/{{ entry._id}}">
                                <button mat-icon-button color="primary">
                                    <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
                                </button>
                            </a>
                        </mat-card-footer>   
                    </mat-card-content>
                </div>
            </div>
        </mat-card-header>
    </div>
    <mat-divider></mat-divider>



    <h2 class="text-primary fs-2">AutoMobiles</h2>
    <mat-divider></mat-divider>
    <div class="mat-elevation-z8 card-group flex-row" *ngIf="AutoMobiles">    

        <mat-card-header class="card mb-3" *ngFor="let entry of AutoMobiles">            
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="col d-flex flex-row">
                        <a routerLink="/eNAppliances/view/{{ entry._id}}">
                            <img mat-card-lg-image src="{{  entry.ad_images[1] }}" alt="MISoko"
                            class="img-thumbnail object-fit-fill rounded mx-auto d-block card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <mat-card-content>
                        <h3 class="fs-3 align-center text-accent card-title">{{ entry.make }}</h3>
                        <mat-card-footer>
                            <h4 class="fs-4 text-warn">{{ entry.price_amount | currency }}</h4>
                            <p>{{ entry.location }}</p>
                            <a routerLink="/eNAppliances/view/{{ entry._id}}">
                                <button mat-icon-button color="primary">
                                    <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
                                </button>
                            </a>
                        </mat-card-footer>   
                    </mat-card-content>
                </div>
            </div>
        </mat-card-header>
    </div>
    <mat-divider></mat-divider>


    <h2 class="text-primary fs-2">Land And Properties</h2>
    <mat-divider></mat-divider>
    <div class="mat-elevation-z8 card-group flex-row" *ngIf="LNProperties">
        <mat-card-header class="card mb-3" *ngFor="let entry of LNProperties">            
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="col d-flex flex-row">
                        <a routerLink="/eNAppliances/view/{{ entry._id}}">
                            <img mat-card-lg-image src="{{  entry.ad_images[1] }}" alt="MISoko"
                            class="img-thumbnail object-fit-fill rounded mx-auto d-block card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <mat-card-content>
                        <h3 class="fs-3 align-center text-accent card-title">{{ entry.name }}</h3>
                        <mat-card-footer>
                            <h4 class="fs-4 text-warn">{{ entry.price_amount | currency }}</h4>
                            <p>{{ entry.location }}</p>
                            <a routerLink="/eNAppliances/view/{{ entry._id}}">
                                <button mat-icon-button color="primary">
                                    <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
                                </button>
                            </a>
                        </mat-card-footer>   
                    </mat-card-content>
                </div>
            </div>
        </mat-card-header>
    </div>
    <mat-divider></mat-divider>


    <h2 class="text-primary fs-2">Service And Industries</h2>
    <mat-divider></mat-divider>
    <div class="mat-elevation-z8 card-group flex-row" *ngIf="SNIndustries">
        <mat-card-header class="card mb-3" *ngFor="let entry of SNIndustries">   

            <div class="row g-0">
                <div class="col-md-4">
                    <div class="col d-flex flex-row">
                        <a routerLink="/eNAppliances/view/{{ entry._id}}">
                            <img mat-card-lg-image src="{{  entry.ad_images[1] }}" alt="MISoko"
                            class="img-thumbnail object-fit-fill rounded mx-auto d-block card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <mat-card-content>
                        <h3 class="fs-3 align-center text-accent card-title">{{ entry.name }}</h3>
                        <mat-card-footer>
                            <h4 class="fs-4 text-warn">{{ entry.price_amount | currency }}</h4>
                            <p>{{ entry.location }}</p>
                            <a routerLink="/eNAppliances/view/{{ entry._id}}">
                                <button mat-icon-button color="primary">
                                    <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
                                </button>
                            </a>
                        </mat-card-footer>   
                    </mat-card-content>
                </div>
            </div>
        </mat-card-header>
    </div>
    <mat-divider></mat-divider>


    <h2 class="text-primary fs-2">Electricals And Appliances</h2>
    <mat-divider></mat-divider>    
    <div class="mat-elevation-z8 card-group flex-row" *ngIf="ENAppliances">
        <mat-card-header class="card mb-3" *ngFor="let entry of ENAppliances">  

            <div class="row g-0">
                <div class="col-md-4">
                    <div class="col d-flex flex-row">
                        <a routerLink="/eNAppliances/view/{{ entry._id}}">
                            <img mat-card-lg-image src="{{  entry.ad_images[1] }}" alt="MISoko"
                            class="img-thumbnail object-fit-fill rounded mx-auto d-block card-img-top" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <mat-card-content>
                        <h3 class="fs-3 align-center text-accent card-title">{{ entry.name }}</h3>
                        <mat-card-footer>
                            <h4 class="fs-4 text-warn">{{ entry.price_amount | currency }}</h4>
                            <p>{{ entry.location }}</p>
                            <a routerLink="/eNAppliances/view/{{ entry._id}}">
                                <button mat-icon-button color="primary">
                                    <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
                                </button>
                            </a>
                        </mat-card-footer>   
                    </mat-card-content>
                </div>
            </div>
        </mat-card-header>
    </div>
    <mat-divider></mat-divider>

   
    <!-- <mat-divider></mat-divider>

    <mat-card>
        <mat-card-content>
            <a routerLink="/canva">
                <button mat-fab extended color="primary">
                    Continue With
                    <img src="assets/canva/canva_blue.svg" alt="canva" class="img-thumbnail" />
                </button>
            </a>
        </mat-card-content>
    </mat-card> -->
</section>